In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series([1, 2, 3, 4, 5])

In [3]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
type(s1)

pandas.core.series.Series

In [5]:
s1.size

5

In [6]:
s1.shape

(5,)

In [8]:
s1.head(2)

0    1
1    2
dtype: int64

In [9]:
s1.tail(2)

3    4
4    5
dtype: int64

In [11]:
s1.sample(3)

1    2
3    4
2    3
dtype: int64

In [12]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
s2 = s1.head(3)

In [15]:
s2

0    1
1    2
2    3
dtype: int64

In [16]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
s3 = s1.sample(3)

In [19]:
s3

3    4
4    5
1    2
dtype: int64

In [20]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
s1.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [22]:
s1.mean()

3.0

In [24]:
s1.min()

1

In [25]:
s1.max()

5

In [26]:
s1.sum()

15

In [27]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [28]:
s1.std()

1.5811388300841898

In [29]:
s1.var()

2.5

In [30]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [32]:
s1.duplicated().sum()

0

In [33]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [34]:
a = pd.Series([1, 2, 3, 4, 5,np.nan,np.nan])

In [35]:
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [37]:
a.isnull().sum()

2

In [38]:
a.count()

5

In [39]:
a.dropna()

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [40]:
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [41]:
a.fillna(0)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    0.0
6    0.0
dtype: float64

In [42]:
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [43]:
a.fillna(method='ffill')

C:\Users\hp\AppData\Local\Temp\ipykernel_16348\218834790.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  a.fillna(method='ffill')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    5.0
6    5.0
dtype: float64

In [44]:
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [46]:
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [48]:
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [49]:
a.dropna()

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [50]:
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [51]:
a.dropna(inplace=True)

In [52]:
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [55]:
# custom index
marks = [67,57,89,100]
subjects = ['maths','english','science','hindi']

c  = pd.Series(marks,index=subjects)

In [56]:
c

maths       67
english     57
science     89
hindi      100
dtype: int64

In [57]:
c['maths'] = 70

In [58]:
c

maths       70
english     57
science     89
hindi      100
dtype: int64

In [59]:
c['evs'] = 85

In [60]:
c

maths       70
english     57
science     89
hindi      100
evs         85
dtype: int64

In [63]:
d=c[c>80]

In [64]:
d

science     89
hindi      100
evs         85
dtype: int64