series

1Ô∏è‚É£ Pandas Series Banane ke Tarike (Creating a Series)

In [15]:
import pandas as pd

# List se Series
s1 = pd.Series([10, 20, 30, 40])

# Dictionary se Series
s2 = pd.Series({'a': 100, 'b': 200, 'c': 300})

# NumPy Array se Series
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
s3 = pd.Series(arr)

# Ek hi value ki Series
s4 = pd.Series(5, index=['a', 'b', 'c', 'd'])

print(s1, s2, s3, s4)

0    10
1    20
2    30
3    40
dtype: int64 a    100
b    200
c    300
dtype: int64 0    1
1    2
2    3
3    4
4    5
dtype: int32 a    5
b    5
c    5
d    5
dtype: int64

In [1]:
import pandas as pd
# List se Series
s1 = pd.Series([10, 20, 30, 40])

In [2]:
s1

0    10
1    20
2    30
3    40
dtype: int64

In [3]:

# Dictionary se Series
s2 = pd.Series({'a': 100, 'b': 200, 'c': 300})

In [4]:
s2

a    100
b    200
c    300
dtype: int64

In [5]:
# NumPy Array se Series
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
s3 = pd.Series(arr)

In [6]:
s3

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [7]:
# Ek hi value ki Series
s4 = pd.Series(5, index=['a', 'b', 'c', 'd'])

In [8]:
s4

a    5
b    5
c    5
d    5
dtype: int64

In [9]:
s3

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [12]:
# Ek hi value ki Series
s4 = pd.Series(s3, index=['a', 'b', 'c', 'd',"e"])

In [13]:
s4

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

2Ô∏è‚É£ Pandas Series ka Basic Information

In [16]:
# Series ki length
len(s1)

# Series ka data type
s1.dtype

# Series ka shape
s1.shape

# Series ka size
s1.size

# Series ke indexes
s1.index

# Series ke values
s1.values

# Series ka summary statistics
s1.describe()

# Series me kisi index ka check karna
'b' in s2  # True

True

In [17]:
s1

0    10
1    20
2    30
3    40
dtype: int64

In [18]:
s2

a    100
b    200
c    300
dtype: int64

3Ô∏è‚É£ Series ka Data Access karna (Indexing & Slicing)

In [19]:
# Index se access karna
s1[1]     # 20
s2['a']   # 100

# Multiple values extract karna
s1[[0, 2]]   # 10, 30
s2[['a', 'c']]  # 100, 300

# Slicing (range select karna)
s1[1:3]   # 20, 30

1    20
2    30
dtype: int64

4Ô∏è‚É£ Series ke Important Methods
üîπ Data Manipulation Methods
python
Copy
Edit

In [20]:
# Add/Subtract/Multiply/Divide
s1 + 10
s1 - 5
s1 * 2
s1 / 2

# Apply function
s1.apply(lambda x: x * 2)

# Unique values
s1.unique()

# Value counts
s1.value_counts()

# Replace values
s1.replace(20, 99)

# Drop values
s1.drop(1)  # Index 1 ka data remove hoga

0    10
2    30
3    40
dtype: int64

üîπ Statistical Methods

In [21]:
# Sum, Mean, Median, Min, Max
s1.sum()
s1.mean()
s1.median()
s1.min()
s1.max()

# Standard Deviation, Variance
s1.std()
s1.var()

# Cumulative Sum
s1.cumsum()

0     10
1     30
2     60
3    100
dtype: int64

üîπ Boolean Filtering

In [22]:
# Condition apply karna
s1 > 20   # True/False

# Filter values
s1[s1 > 20]  # Sirf 30 aur 40 return karega

2    30
3    40
dtype: int64

üîπ Handling Missing Values (NaN)

In [23]:
s5 = pd.Series([1, 2, np.nan, 4, None])

# Missing values check
s5.isnull()

# Missing values hatana
s5.dropna()

# Missing values fill karna
s5.fillna(0)

0    1.0
1    2.0
2    0.0
3    4.0
4    0.0
dtype: float64

üîπ Index Handling

In [24]:
# Index set/change karna
s1.index = ['A', 'B', 'C', 'D']

# Index reset karna
s1.reset_index()

# Index rename karna
s1.rename(index={'A': 'X', 'B': 'Y'})

X    10
Y    20
C    30
D    40
dtype: int64

5Ô∏è‚É£ Series ko File me Save & Load Karna

In [26]:
# CSV file me save karna
s1.to_csv('series_data.csv')

# CSV file se load karna
#s_new = pd.read_csv('series_data.csv', index_col=0, squeeze=True)